.swmln-btn-color{
    color: blueviolet;
    border-color: blueviolet;
    // color: white;
    // background-color: blueviolet;
    font-weight: 600;
}
.swmln-btn-color:hover{
    color: white;
    background-color: blueviolet;
    border-color: none;
}