.host
{
    display: flex;
    flex-direction: column;
    height:100%;
}

.myHeader{
    background: linear-gradient(to right,orange,blueviolet);
}

mat-drawer
{
    width:200px;
}
mat-drawer-container
{
    height:100%;
}
mat-drawer-content
{
    padding: 20px;
}
ul li{
    list-style:none;
}