<!-- <app-header class="mat-typography"></app-header> -->
<div  class="mat-typography">
<mat-toolbar color="primary" class="myHeader">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span style="margin-left: 15px; font-size: x-large;cursor: pointer; font-weight: 600;" routerLink="/"> Bat Builder</span>

      <app-header class="mat-typography" style="width: 100%;"></app-header>
      
      <!--For Small Devices-->
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxShow="true" fxHide.gt-sm="true">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
           <mat-icon>exit_to_app</mat-icon>
              Sign Out
        </button>
      </mat-menu>
      </div>
      <!--End For Small Devices-->
    </mat-toolbar-row>
  </mat-toolbar>
</div>  
<mat-drawer-container autosize>
  
    <mat-drawer [mode]="drawerMode" #drawer [opened]="sideBarOpen" class="mat-typography">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> 
 <app-footer class="mat-typography"></app-footer> 