.stats-cards{
    .mat-card{
        overflow: hidden;
    }
}
table {
    width: 100%;
  }
.printSnapshot{
    display: none;
    box-sizing: border-box;
}

.SnapShotBtn{
    //margin-left: 90%;
    background-color:blueviolet;
    color: white;
    padding: 10px;
    border-radius: 0.5em;
    font-size: larger;
    margin-bottom: 10px;
}

.SnapShotBtn:hover{
    background-color:orange;
    transform: scale(1.1);
}