<mat-nav-list class="mat-typography">

  <div style="display: flex;align-items: center;justify-content: center;background-color: orange;border-radius: 0.5rem;margin: 8px;padding: 3px;">
    <img src="https://e7.pngegg.com/pngimages/356/193/png-clipart-harley-quinn-batman-logo-bat-signal-superhero-monochrome.png" style="height: 50px;width: 50px;border-radius: 50%;"/>
    <h1 style="font-weight: 900;transform: translateY(10px);margin-left: 3px;color: white;"> Bat Builder</h1>
  </div>
    <mat-divider></mat-divider>
  
    <div class="sideMenuBtnList" tabindex="-1">
    <a mat-list-item routerLinkActive='list-item-active' class="sideMenuBtn" routerLink="/">My Dashboard</a>
    <a mat-list-item routerLinkActive='list-item-active' class="sideMenuBtn" routerLink="/">Choose a Template</a>
    <a mat-list-item routerLinkActive='list-item-active' class="sideMenuBtn" routerLink="../../newproject">New Project</a>
    <a mat-list-item routerLinkActive='list-item-active' class="sideMenuBtn" routerLink="/">Open Project</a>
  </div>
    <mat-divider></mat-divider>
    
     <div class="UserCard">
       <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="" style="border-radius: 50%;box-sizing: border-box;width: 80%;">
       <h1>User Name</h1>
       <h4>Technical Lead</h4>
     </div>
  
  </mat-nav-list>
 